
*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
    text-align: center;
}

header{
    background-color: #EAC926;
}
header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}


header div.logo,
header .form{
    width: 50%;
}

/* header .form button {
    margin-left: 20px;
} */
header div.logo{
    padding: 10px;
}

header nav{
    font-size: 12px;
    margin-left: 20px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #666;
    outline: none;
    color: #666;
    padding: 2px;
    margin-left: 20px;
    display: inline-block;
    height: 2.5rem;
    border-radius: 5px;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

div.burger-menu{
    display: flex;
    justify-content: center;
    text-align: center;
}

div.burger-menu i{
    background-color: #1259c3;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 45px;
}

.precios{
    font-size: 18px;
    width: 30%;
}

.descuentos{
    width: 70%;
}

.descuentos,
.descripciones{
    font-size: 16px;
    font-weight: normal;
}

h3,
.descripciones{
    color: #666;
}

/*para que no se visualice en mobile*/
.descripciones{
    display: none;
    margin-top: 20px;
} 

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

.top-header {
    display: flex;
    padding: 1rem;
}
.top-header .logo{
    width: 50%;
}
.top-header .form{
    width: 50%;
}
.form{
    display: flex;
}
.form .lupa{
    width: 2rem;
    height: 2.5rem;
    border: 1px solid #666;
    border-radius: 5px;
}
/*.main-header{
    position: fixed;
    top:0;
    //agregarle el padding top a lo q este abajo
}
*/

main section article{
    background-color: #fff;    
    margin: 10px 0px;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

main section article img{
    width: 100%;
}

main section article i,
.descuentos{
    color: #39b54a;
}

footer section{
    text-align: center;
    margin: 30px ;
}
footer section i{
    font-size: 2em;
    color: #1259c3;
    margin-bottom: 10px;
}
footer h3{
    font-size: 24px;
}
footer p{
    font-size: 16px;
}


main section h3{
    margin: 20px 0px;
}
.site{
    display: none;
}



/*pdf 20*/
.main-article > i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
.main-article{
    position: relative;
}

.productoInfo{
    display: flex;
}
.productoInfo .precios{
    width: 30%;
    padding-top: 2rem;
}
.productoInfo .descuentos{
    width: 70%;
    padding-top: 2rem;
}


.products{
    display: flex;
    flex-wrap: wrap;
}
.products article{
    width: 100%;

}
/*TABLET */
@media (min-width: 768px){
    /*=== Hacer visible main section article .descripcion===*/
    .descripciones{
        display: inline-block;
        margin-top: 20px;
    }
      
    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .site{
        display: inline-block;
    }
   
    .burger-menu i{
        display: none;
    }
    .products{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .products article{
        width: 48%;
    }

    

}
/*  DESKTOP */
@media (min-width: 769px){
   
   .descripciones{
        display: inline-block;
        margin-top: 20px;
    }    

    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .site{
        display: inline-block;
    }
    .logo img{
        width: 50%;
    }
    .burger-menu i{
        display: none;
    }

    .products{
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }
    .products article{
        width: 24%;
    }

  
 
    .productoInfo{
        display: flex;
    }
    .productoInfo .precios{
        width: 30%;
        padding-top: 2rem;
        font-size: 12px;
        
    }
    .productoInfo p{
        display: contents;
    }
    .productoInfo .descuentos{
        width: 70%;
        padding-top: 2rem;
        font-size: 12px;
    }
}

/*=====FORMULARIO REGISTRO========*/
form {
    display: flex;
    flex-direction: column;
    background-color: #dbdbdb;
    margin-top: 2rem;
    padding: 1rem;
    margin-bottom: 5rem;
    border-radius: 5px;
}

form input[type="text"], input[type="password"], input[type="email"], input[type="date"] {
    border-radius: 5px;
    margin: 0.5rem;
    height: 2rem;
    border: 1px;
}

form label, .userPerfil , .userInteres, .userFoto{
    margin:0.5rem;
}

form h4{
    margin-bottom: 0.5rem;
}

.userFoto{
    display: flex;
    flex-direction: column;
}

form button{
    height: 2rem;
    width: 45%;
    background-color: #1259c3;
    border: none;
    border-radius: 5px;
    color:#fff;
    margin-right: 5px;
    margin-top: 2rem;
}

.acciones{
    margin-left: 0.5rem;
    display: inline-block;
}